* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cddc39;
}

header h1 {
  margin-left: 10px;
}

header ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-right: 10px;
  list-style: none;
}

main {
  width: 90%;
}
