* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

main {
  width: 90%;
  /*   agrega flechas de deslice
 */
  min-height: 100vh;
  overflow: hidden;
  overflow: auto;
  overflow: scroll;
}

h2 {
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
  font-weight: 600;
}

#home-header-emoji {
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  right: 50%;
}
