.start-page__main {
  /*   margin: 1rem auto; */
  display: flex;
  column-gap: 2rem;
  row-gap: 2rem;
  align-items: center;
}

.start-page__main figure {
  padding: 15px;
}

.start-page__main aside {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid black;
  padding: 0 10px;
  height: 100vh;
}

.start-page__main section {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
